* {
    -fx-font-size: 18;
    -fx-text-fill: #ddd;
}

NumberField {
    -fx-background-color: #333;
    -fx-focus-traversable: false;
    -fx-pref-width: 4em;
}

.container {
    -fx-padding: 1em;
    -fx-background-color: #222;
}

.container > HBox > VBox {
    -fx-padding: 1em;
    -fx-spacing: 0.5em;
}

.good,
.good * {
    -fx-text-fill: lightgreen;
}

.note,
.note * {
    -fx-text-fill: orange;
}

.warning,
.warning * {
    -fx-text-fill: #ff4444;
}
